<h2><% events.henName %> Hen do</h2>

<% events.forEach((event) => { %>
  <div class="row">
    <div class="col-sm-4">
      <section id="eventIndex">
        <img class="img-fluid" src="<%= event.image %>" alt="<%= event.title %>"
        <p><a href="/events/<%= event.id %>"><%= event.activity %></a></p>
        <p><%= event.date %></p>
        <p><%= event.time %></p>


      </section>
    </div>
  </div>



  <% if (locals.isAuthenticated) { %>
    <form method="POST" action="/events/<%= event.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  <% } %>

<% }) %>
