<h2><% events.henName %> Hen do</h2>

<% events.forEach((event) => { %>
  <div>
    <a href="/events/<%= event.id %>">
      <img src="<%= event.image %>" alt="<%= event.title %>"></a>
      <h2><%= event.activity %></h2>
      <p><%= event.date %></p>
      <p><%= event.time %></p>
    </a>
  </div>

  <% if (locals.isAuthenticated) { %>
    <form method="POST" action="/events/<%= event.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  <% } %>

<% }) %>
<br>
<br>
<br>
