<h2><% events.henName %> Hen do</h2>

<% events.forEach((event) => { %>
  <div class="row">
    <div class="col-sm-4">
      <section id="eventIndex">
        <a href="/events/<%= event.id %>"></a>
        <img src="<%= event.image %>" alt="<%= event.title %>">
        <h3><%= event.activity %></h3>
        <p><%= event.date %></p>
        <p><%= event.time %></p>
      <section>
    </div>
  </div>



  <% if (locals.isAuthenticated) { %>
    <form method="POST" action="/events/<%= event.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  <% } %>

<% }) %>
<br>
<br>
<br>
