<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/_stylesheets %>
    <% include ./partials/_scripts %>
    <title>The Chicken Coop</title>
  </head>

  <body>
    <header>
      <%- include ./partials/_navbar %>
      <div id="fb-root"></div>
      <% for(const type in messages) { %>
        <div class="<%= type %>">
          <h5><%= messages[type] %></h5>
        </div>
      <% } %>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
      <%- include ./partials/_footer %>
    </footer>
  </body>
</html>
