<div class="container-fluid">
  <div class="page-header">
    <h1>Meet <%= showUser.firstName %> <%= showUser.lastName %><br><small> aka <%= showUser.username %></small></h1>
  </div>

  <div class="row">
    <div class="col-sm-6" id="profilePicture">
      <img class="img-fluid" src="<%= showUser.profileImageSRC %>" alt="<%= showUser.firstName %>">
    </div>
    <div class="col-sm-6">
      <p><strong>Here's how I know the lucky hen:</strong></p>
      <p><%= showUser.knowHen %></p>
      <br><br>
      <p><strong>And here's an embarrassing story for you:</strong></p>
      <p><%= showUser.funnyStory %></p>
      <div>
        <% if (locals.isAuthenticated && (showUser.id === user.id)) { %>
          <form method="POST" action="/users/<%= showUser.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <a href="/users/<%= showUser.id %>/edit"><button type="button" class="btn btn-outline-info waves-effect">Edit</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>
</div>
